{% load bob %}
<!DOCTYPE html>
<html>
<head>
    <title>Qubob - example usage django-bob library</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
</head>
<body>
{% main_menu mainmenu_items section title="Qubob" search=index %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% block contentarea %}{% endblock %}
        </div>
    </div>
</div>
<script src="{{ STATIC_URL }}/js/jquery.js" />
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bob.js"></script>
</body>
</html>